:root{
  --light-blue:rgb(112, 248, 186);
  --dark:rgb(30, 16, 20);
  --silent:rgb(124, 180, 184);
  --purple:rgb(202, 60, 255);
  --mid-gray:rgb(8, 76, 97);
  --carrot:rgb(234, 144, 16);
  --blue:rgb(0, 79, 255);
  --red:rgb(255, 32, 110);
}
.mybutton{
  background-color: var(--light-blue);
  width:clamp(10ch 20ch + 1vh  30ch);
  display:block;
  margin:10px ;
  padding:10px;
  font-size: 17px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold; 
  transition: box-shadow 150ms ease-in-out;
  border-radius:8px;
  position:relative;
}
.mybutton:hover{
   box-shadow: 1px 3px 30px;

}

h1{
  font-size:60px;
  /* color:rgb(192,197,209); */
  color:var(--carrot);
  font-family: Georgia;
  font-weight: normal;
  font-style:italic;
  margin:10px;
}
#defaultCanvas0{
  /* border:var(--dark) double 10px; */
  /* border-radius:30px; */
  position:relative;
}
.box{
  display:grid;
  grid-template-columns:500px 1fr ;
  
}

#container{
  display:inline-block;
  /* width:min(50% 500px); */
  margin-inline:auto;
  margin:30px auto;
}
#button-container{
  display:inline-block;
  background-color:rgba(10,20,20,0.55);
}

body{
  background-image:url(./R.jpg);
  background-size: cover;
  background-repeat:no-repeat;
}
p{
  color:white;
  font-size:50;
  font-weight: bold;
 
}